SUPABASE_URL=https://lmjcvmsjajahljcfuecq.supabase.co
SUPABASE_ANON_KEY=
DATABASE_URL=postgresql://daily_goals_app.lmjcvmsjajahljcfuecq:[PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres?sslmode=require
