<div class="nav-tabs">
  <a class="nav-tab {% if active_nav == 'goals' %}active{% endif %}" href="{{ url_for('index') }}">{{ t("nav_goals") }}</a>
  <a class="nav-tab {% if active_nav == 'learn' %}active{% endif %}" href="{{ url_for('learn_page') }}">{{ t("nav_learn") }}</a>
  <a class="nav-tab {% if active_nav == 'cards' %}active{% endif %}" href="{{ url_for('flashcards_page') }}">{{ t("nav_cards") }}</a>
  <a class="nav-tab {% if active_nav == 'books' %}active{% endif %}" href="{{ url_for('books_page') }}">{{ t("nav_books") }}</a>
</div>
